@font-face {
    font-family: 'neodgm';
    src: url('Font/neodgm.ttf');
}

body {
    touch-action: none;
    overscroll-behavior: none;
}

#container {
    border: 2px solid blue;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 98%;
    height: 98%;
    display: flex;
    flex-direction: column;
}

#header {
    border: 2px solid black;
    font-family: 'neodgm';
    font-size: 32px;
    width: 100%;
    height: 80px;
}

#screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 96%;
    max-height: 96%;
}

#main {
    font-family: neodgm;
    font-size: 16px;
}
